.wrapper {
    width: 600px;
    margin: 100px auto 0;
}
.block {
    display: inline-block;
    width: 150px;
    height: 150px;
    text-align: center;
    line-height: 150px;
    background-color: #FFAA00;
    margin: 20px;
    border: 1px solid #FFAA00;
}
.A {
    box-shadow: #000 10px 10px;
}
.B {
    box-shadow: #000 10px 10px 5px;
}
.C {
    box-shadow: #000 10px 10px 5px 2px;
}
.D {
    box-shadow: rgba(0, 0, 0, 0.5) 10px 10px 5px 4px;
}
.E {
    border-radius: 5px;
    box-shadow: #000 10px 10px 5px;
}
.F {
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.5) 10px 10px 5px 4px;
}