* {
    box-sizing: border-box;
}
body {
    background-color: #252525;
}
.wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}
.button {
    text-align: center;
    font-size: 30px;
    border: 6px solid;
    border-radius: 40px;
    margin-bottom: 20px;
    padding: 20px 80px;
}
.orange {
    border-color: #FF6E1D;
    color: #FF6E1D;
}
.blue {
    border-color: #2CFFF2;
    color: #2CFFF2;
}
.pink {
    border-color: #FF54A6;
    color: #FF54A6;
}
.red {
    border-color: #FF3E3E;
    color: #FF3E3E;
}